<div class="row p-4">
  <div class="col">
    <h4>Clients list</h4>
    <div class="list-group" *ngIf="!isFetching; else loading">
      <a
        *ngFor="let client of clients"
        class="list-group-item list-group-item-action"
        [routerLink]="[client.id]"
        routerLinkActive="active"
      >{{ getFullName(client)}}</a>
    </div>
    <ng-template #loading>
      <span class="spinner-border">
        <span class="sr-only">Loading...</span>
      </span>
    </ng-template>
  </div>
  <div class="col">
    <router-outlet></router-outlet>
  </div>
</div>
