<div class="row mt-2">
  <h4 class="pl-3">Client is information</h4>
  <div class="col card-body" *ngIf="client">
    <p class="card-text"> <strong>First name:</strong> {{ client.firstName }}</p>
    <p class="card-text"> <strong>Last name:</strong> {{ client.lastName }}</p>
    <p class="card-text"> <strong>Patronymic:</strong> {{ client.patronymic }}</p>
    <p class="card-text"> <strong>Phone:</strong> {{ client.phone }}</p>
    <p class="card-text"> <strong>Work/study</strong> {{ client.work }}</p>
    <div *ngIf="client.skills.length !== 0">
      <strong> Skills: </strong>
      <div class="card-text row" *ngFor="let skill of client.skills">
        <div class="col-6">
          <p>{{ skill.skill }}</p>
        </div>
        <div class="col-6">
          <p>{{ skill.level }}</p>
        </div>
      </div>
    </div>
    <hr/>
    <a class="btn btn-secondary" [routerLink]="['edit']">Edit</a>&nbsp;
    <button
      class="btn btn-danger"
      (click)="onRemove()"
      [disabled]="isRemoving"
    >
      <span *ngIf="!isRemoving">
        Delete
      </span>
      <span *ngIf="isRemoving" class="spinner-border spinner-border-sm">
        <span class="sr-only">Removing...</span>
      </span>
    </button>
  </div>
</div>
