<div class="row flex-column p-3 col-10">
  <h3>{{ isEdit ? 'Edit client is information' : 'Register a client' }}</h3>
  <form (ngSubmit)="Registrate()"
        [formGroup]="clientForm"
  >

    <div class="form-group">
      <label for="firstName">First name:</label>
      <input
        type="text"
        formControlName="firstName"
        id="firstName"
        class="form-control"
      />
      <small *ngIf="fieldHasError('firstName', 'required')"
             class="form-text invalid-form-text">Enter your first name</small>
    </div>
    <div class="form-group">
      <label for="lastName">Last name:</label>
      <input
        type="text"
        formControlName="lastName"
        id="lastName"
        class="form-control"
      />
      <small *ngIf="fieldHasError('lastName', 'required')"
             class="form-text invalid-form-text">Enter your last name</small>
    </div>
    <div class="form-group">
      <label for="patronymic">Patronymic:</label>
      <input
        type="text"
        formControlName="patronymic"
        id="patronymic"
        class="form-control"
      />
      <small *ngIf="fieldHasError('patronymic', 'required')"
             class="form-text invalid-form-text">Enter your patronymic</small>
    </div>
    <div class="form-group">
      <label for="phone">Phone:</label>
      <input
        type="text"
        formControlName="phone"
        id="phone"
        class="form-control"
        [maxlength]="phoneLength"
        placeholder="+996 XXX YYYYYY"
      />
      <small class="form-text">format: +996 XXX YYYYYY</small>
      <small *ngIf="fieldHasError('phone', 'required')"
             class="form-text invalid-form-text">Enter your phone number</small>
      <small *ngIf="fieldHasError('phone', 'format')"
             class="form-text invalid-form-text">Enter your phone number by that format</small>
    </div>
    <div class="form-group">
      <label for="work">place of work/study:</label>
      <input
        type="text"
        formControlName="work"
        id="work"
        class="form-control"
      />
      <small *ngIf="fieldHasError('work', 'required')"
             class="form-text invalid-form-text">Enter your place of work/study</small>
    </div>
    <div class="form-group">
      <div class="form-check form-check-inline">
        <input
          type="radio"
          class="form-check-input"
          id="maleGender"
          value="male"
          formControlName="gender"
        >
        <label class="form-check-label"
               for="maleGender">Male</label>
      </div>
      <div class="form-check form-check-inline">
        <input
          type="radio"
          class="form-check-input"
          id="femaleGender"
          value="female"
          formControlName="gender"
        >
        <label class="form-check-label"
               for="femaleGender">Female</label>
      </div>
      <small *ngIf="fieldHasError('gender', 'required')"
             class="form-text invalid-form-text">Select a gender of t-shirt</small>
    </div>
    <div class="form-group">
      <label for="size">Size of T-shirt</label>
      <select class="form-control"
              id="size"
              formControlName="size"
      >
        <option *ngFor="let s of sizes"
                [value]=s>{{ s }}</option>
      </select>
      <small *ngIf="fieldHasError('size', 'required')"
             class="form-text invalid-form-text">select size of T-shirt</small>
    </div>
    <div class="form-group">
      <label for="comment">Enter your comment</label>
      <div class="comment">
        <textarea
          class="form-control"
          id="comment"
          formControlName="comment"
          rows="3"
          [maxlength]="commentMaxLength"
        ></textarea>
        <span class="limitText text-secondary">{{ commentMaxLength - getCurrentLength() }}/ {{commentMaxLength }}</span>
      </div>

      <small *ngIf="fieldHasError('comment', 'required')"
             class="form-text invalid-form-text">Enter a comment</small>
    </div>

    <div class="form-group"
         formArrayName="skills">
      <label class="mr-2">Skills</label>
      <button type="button"
              class="btn btn-success"
              (click)="AddSkill()">Add skill
      </button>
      <div class="form-inline p-3"
           *ngFor="let skillControl of getControls(); let i=index">
        <div [formGroupName]="i" class="row">
          <div class="col">
            <select formControlName="skill"
                    class="form-control"
                    id="skill">
              <option *ngFor="let skill of skills"
                      [value]="skill">{{ skill }}</option>
            </select>
            <small *ngIf="groupFieldHasError(i, 'skill', 'required')"
                   class="form-text invalid-form-text">select your skill</small>
          </div>
          <div class="col">
            <select formControlName="level"
                    class="form-control"
                    id="level">
              <option *ngFor="let level of levels"
                      [value]="level">{{ level }}</option>
            </select>
            <small *ngIf="groupFieldHasError(i, 'level','required')"
                   class="form-text invalid-form-text">select level of that skill</small>
          </div>
        </div>
      </div>
    </div>


    <button type="submit"
            class="btn btn-primary"

    >
      <span *ngIf="!isUploading">
          {{ isEdit ? 'Edit' : 'Registrate' }}
        </span>
      <span *ngIf="isUploading"
            class="spinner-border spinner-border-sm">
          <span class="sr-only">Loading...</span>
        </span>
    </button>
  </form>
</div>


